output/EEC_TTD_ComplexDataObjects_v0.1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:ccdo="urn:EEC:RDM:ComplexDataObjects:v0.7.0" xmlns:csdo="urn:EEC:RDM:SimpleDataObjects:v0.7.0" xmlns:ttcdo="urn:EEC:TTD:ComplexDataObjects:v0.1.0" xmlns:ttsdo="urn:EEC:TTD:SimpleDataObjects:v0.1.0" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" targetNamespace="urn:EEC:TTD:ComplexDataObjects:v0.1.0" version="0.1.0" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="urn:EEC:RDM:ComplexDataObjects:v0.7.0" schemaLocation="EEC_RDM_ComplexDataObjects_v0.7.0.xsd"/>
  <xs:import namespace="urn:EEC:RDM:SimpleDataObjects:v0.7.0" schemaLocation="EEC_RDM_SimpleDataObjects_v0.7.0.xsd"/>
  <xs:import namespace="urn:EEC:TTD:SimpleDataObjects:v0.1.0" schemaLocation="EEC_TTD_SimpleDataObjects_v0.1.0.xsd"/>
  <!-- :  () -->
  <xs:element name="AxleDetails" type="ttcdo:AxleDetailsType"/>
  <!-- TTD-CDT-00001: Сведения об оси (Колесная ось_ Детали. Тип) -->
  <xs:complexType name="AxleDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о колесной оси транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:AxleOrdinal"/>
      <xs:element ref="ttsdo:AxleLoadMeasure"/>
      <xs:element ref="ttsdo:NextAxleDistanceMeasure"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="BorderCheckpointDetails" type="ttcdo:BorderCheckpointDetailsType"/>
  <!-- TTD-CDT-00018: Сведения о пункте пропуска (Пункт пропуска_ Детали. Тип) -->
  <xs:complexType name="BorderCheckpointDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о пункте пропуска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="ttsdo:BorderCheckpointId"/>
      <xs:element ref="ttsdo:BorderCheckpointName"/>
      <xs:element ref="ttsdo:BorderCheckpointLocationText"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="CarrierDetails" type="ttcdo:CarrierDetailsType"/>
  <!-- TTD-CDT-00017: Сведения о перевозчике (Перевозчик_ Детали. Тип) -->
  <xs:complexType name="CarrierDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о перевозчике</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ccdo:OrganizationDetails"/>
      <xs:element ref="ccdo:AddressDetails"/>
      <xs:element ref="ccdo:CommunicationDetails"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="CheckpointDetails" type="ttcdo:CheckpointDetailsType"/>
  <!-- TTD-CDT-00016: Сведения о контрольном пункте (Контрольный пункт_ Детали. Тип) -->
  <xs:complexType name="CheckpointDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о контрольном пункте, в котором проводился транспортный (автомобильный) контроль</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="ttsdo:CheckpointId"/>
      <xs:element ref="ttsdo:CheckpointName"/>
      <xs:element ref="ttsdo:CheckpointLocationText"/>
    </xs:sequence>
  </xs:complexType>
  <!-- TTD-CDT-00008: Интервал дат (Интервал дат_ Детали. Тип) -->
  <xs:complexType name="DateIntervalDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие промежуток времени с указанием начальной и конечной дат</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:StartDate"/>
      <xs:element ref="ttsdo:EndDate"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="DocValidityPeriodDetails" type="ttcdo:DateIntervalDetailsType"/>
  <!-- :  () -->
  <xs:element name="ExecutionCheckpointDetails" type="ttcdo:CheckpointDetailsType"/>
  <!-- :  () -->
  <xs:element name="InconsistencyAckDetails" type="ttcdo:InconsistencyAckDetailsType"/>
  <!-- TTD-CDT-00009: Уведомление о несоответствии (Уведомление о несоответствии_ Детали. Тип) -->
  <xs:complexType name="InconsistencyAckDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию об уведомлении о предоставлении недостающих документов и подтверждения устранения контролируемых параметров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:NotificationId"/>
      <xs:element ref="ttcdo:ExecutionCheckpointDetails"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="InspectionDetails" type="ttcdo:InspectionDetailsType"/>
  <!-- TTD-CDT-00013: Сведения о контроле транспортного средства (Контроль транспортного средства_ Детали. Тип) -->
  <xs:complexType name="InspectionDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие результаты транспортного (автомобильного) контроля транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:InspectionDateTime"/>
      <xs:element minOccurs="0" ref="ttcdo:CheckpointDetails"/>
      <xs:element minOccurs="0" ref="ttcdo:BorderCheckpointDetails"/>
      <xs:element ref="ttsdo:TransportCode"/>
      <xs:element ref="ttcdo:VehicleDetails"/>
      <xs:element ref="ttcdo:CarrierDetails"/>
      <xs:element minOccurs="0" ref="ttsdo:RegularTransportIndicator"/>
      <xs:element ref="ttsdo:DriverName"/>
      <xs:element ref="ttsdo:SendingCountryCode"/>
      <xs:element ref="ttsdo:DestinationCountryCode"/>
      <xs:element minOccurs="0" ref="ttsdo:SendingRegionName"/>
      <xs:element minOccurs="0" ref="ttsdo:DestinationRegionName"/>
      <xs:element ref="ttsdo:CargoGrossWeightMeasure"/>
      <xs:element ref="ttsdo:CargoCode"/>
      <xs:element ref="ttsdo:VehicleGrossWeightMeasure"/>
      <xs:element maxOccurs="unbounded" ref="ttcdo:AxleDetails"/>
      <xs:element minOccurs="0" ref="ttsdo:PassengerQuantity"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ttcdo:TransportPermissionDetails"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ttcdo:SpecialTransportPermissionDetails"/>
      <xs:element minOccurs="0" ref="ttsdo:AccountingTicketId"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ttcdo:InconsistencyAckDetails"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ttcdo:ViolationDetails"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ttcdo:TollPaymentDetails"/>
      <xs:element minOccurs="0" ref="ttsdo:PaidStayDuration"/>
      <xs:element minOccurs="0" ref="ttsdo:PermitDecisionCode"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="IssuingAuthorityDetails" type="ccdo:AuthorityDetailsType"/>
  <!-- TTD-CDT-00010: Габарнитные размеры (Габарнитные размеры_ Детали. Тип) -->
  <xs:complexType name="OverallDimensionDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие линейные размеры предмета (длина, ширина и высота)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:LengthMeasure"/>
      <xs:element ref="ttsdo:WidthMeasure"/>
      <xs:element ref="ttsdo:HeightMeasure"/>
    </xs:sequence>
  </xs:complexType>
  <!-- TTD-CDT-00003: Сведения об оплате (Оплата_ Детали. Тип) -->
  <xs:complexType name="PaymentInfoDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию об оплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:PaymentId"/>
      <xs:element ref="ttsdo:PaymentDate"/>
      <xs:element ref="csdo:PaymentAmount"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="PenaltyDetails" type="ttcdo:PenaltyDetailsType"/>
  <!-- TTD-CDT-00014: Сведения о штрафе (Штраф_ Детали. Тип) -->
  <xs:complexType name="PenaltyDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о штрафе, наложенном на перевозчика органами транспортного (автомобильного) контроля государств-членов ТС и ЕЭП, а также его оплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:PenaltyId"/>
      <xs:element ref="ttsdo:PenaltyDate"/>
      <xs:element ref="csdo:PaymentAmount"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="PenaltyPaymentDetails" type="ttcdo:PaymentInfoDetailsType"/>
  <!-- :  () -->
  <xs:element name="SpecialTransportPermissionDetails" type="ttcdo:SpecialTransportPermissionDetailsType"/>
  <!-- TTD-CDT-00011: Сведения о специальном разрешении (Специальное разрешение на поездку_ Детали. Тип) -->
  <xs:complexType name="SpecialTransportPermissionDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о специальном разрешении на перевозку тяжеловесных, крупногабаритных или опасных грузов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:SpecialTransportPermissionCode"/>
      <xs:element ref="ttsdo:SpecialTransportPermissionId"/>
      <xs:element minOccurs="0" ref="ttcdo:IssuingAuthorityDetails"/>
      <xs:element minOccurs="0" ref="ttsdo:DocIssueDate"/>
      <xs:element minOccurs="0" ref="ttcdo:DocValidityPeriodDetails"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="TollPaymentDetails" type="ttcdo:PaymentInfoDetailsType"/>
  <!-- :  () -->
  <xs:element name="TransportPermissionDetails" type="ttcdo:TransportPermissionDetailsType"/>
  <!-- TTD-CDT-00005: Сведения о разрешении на поездку (Разрешение на поездку_ Детали. Тип) -->
  <xs:complexType name="TransportPermissionDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о разрешении на поездку</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:TransportPermissionCode"/>
      <xs:element ref="ttsdo:TransportPermissionId"/>
      <xs:element minOccurs="0" ref="ttcdo:IssuingAuthorityDetails"/>
      <xs:element minOccurs="0" ref="ttsdo:DocIssueDate"/>
      <xs:element minOccurs="0" ref="ttcdo:DocValidityPeriodDetails"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="VehicleDetails" type="ttcdo:VehicleDetailsType"/>
  <!-- TTD-CDT-00006: Сведения о транспортном средстве (Транспортное средство_ Детали. Тип) -->
  <xs:complexType name="VehicleDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:VehicleRegId"/>
      <xs:element ref="ttsdo:VehicleRegCountryCode"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ttsdo:TrailerRegId"/>
      <xs:element ref="ttsdo:VehicleKindCode"/>
    </xs:sequence>
  </xs:complexType>
  <!-- :  () -->
  <xs:element name="VehicleOverallDimensionDetails" type="ttcdo:OverallDimensionDetailsType"/>
  <!-- :  () -->
  <xs:element name="ViolationDetails" type="ttcdo:ViolationDetailsType"/>
  <!-- TTD-CDT-00012: Сведения о нарушении (Нарушение_ Детали. Тип) -->
  <xs:complexType name="ViolationDetailsType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие детализированную информацию о выявленных несоответствиях контролируемых параметров установленным требованиям и необходимости предоставления документов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ttsdo:ViolationText"/>
      <xs:element ref="ttsdo:LegalRequirementText"/>
      <xs:element minOccurs="0" ref="ttsdo:ViolationDescriptionText"/>
      <xs:element minOccurs="0" ref="ttsdo:ViolationRemovalText"/>
      <xs:element minOccurs="0" ref="ttcdo:PenaltyDetails"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ttcdo:PenaltyPaymentDetails"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
