output/EEC_SMD_SimpleDataObjects_v0.1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:bdt="urn:EEC:RDM:BaseDataTypes:v0.7.0" xmlns:csde="urn:EEC:RDM:SimpleDataObjects:v0.7.0" xmlns:smsdo="urn:EEC:SMD:SimpleDataObjects:v0.1.0" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" targetNamespace="urn:EEC:SMD:SimpleDataObjects:v0.1.0" version="0.1.0" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="urn:EEC:RDM:BaseDataTypes:v0.7.0" schemaLocation="EEC_RDM_BaseDataTypes_v0.7.0.xsd"/>
  <xs:import namespace="urn:EEC:RDM:SimpleDataObjects:v0.7.0" schemaLocation="EEC_RDM_SimpleDataObjects_v0.7.0.xsd"/>
  <!-- SMD-SDE-00001: Возраст (Возраст. Продолжительность времени) -->
  <xs:element name="AgeDuration" type="bdt:DurationType">
    <xs:annotation>
      <xs:documentation>Период от рождения до момента исчисления</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00002: Порода животного (Порода животного. Имя) -->
  <xs:element name="AnimalBreedName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Разновидность домашних животных, отличающаяся особыми признаками от других животных того же вида</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00003: Идентификационный номер животного (Животное. Идентификатор) -->
  <xs:element name="AnimalId" type="bdt:IdentifierType">
    <xs:annotation>
      <xs:documentation>Идентификационный номер животного</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00004: Способ идентификации животного (Способ идентификации животного. Код) -->
  <xs:element name="AnimalIdKindCode" type="smsdo:AnimalIdKindCodeType"/>
  <!-- SMD-SDT-00001: Способ идентификации животного (Способ идентификации животного_ Код. Тип) -->
  <xs:simpleType name="AnimalIdKindCodeType">
    <xs:annotation>
      <xs:documentation>Способ идентификации животного</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bdt:CodeType">
      <xs:enumeration value="EnumerationLiteral1">
        <xs:annotation>
          <xs:documentation>Тарировка</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EnumerationLiteral2">
        <xs:annotation>
          <xs:documentation>Чипирование</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ET">
        <xs:annotation>
          <xs:documentation>Ушная бирка</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TA">
        <xs:annotation>
          <xs:documentation>Татуировка</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!-- SMD-SDE-00005: Вид животного (Вид животного. Код) -->
  <xs:element name="AnimalKindCode" type="smsdo:AnimalKindCodeType"/>
  <!-- SMD-SDT-00002: Вид животного (Вид животного_ Код. Тип) -->
  <xs:simpleType name="AnimalKindCodeType">
    <xs:annotation>
      <xs:documentation>Вид животного</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bdt:CodeType"/>
  </xs:simpleType>
  <!-- SMD-SDE-00006: Клеймо (Клеймо. Идентификатор) -->
  <xs:element name="AnimalLabelId" type="bdt:IdentifierType">
    <xs:annotation>
      <xs:documentation>Печать, знак, налагаемый на товары с целью указания на происхождение, принадлежность или для регистрации</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00007: Кличка животного (Животное. Имя) -->
  <xs:element name="AnimalName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Имя, даваемое домашним животным</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00008: Количество животных (Животное. Количество) -->
  <xs:element name="AnimalQuantity" type="bdt:QuantityType">
    <xs:annotation>
      <xs:documentation>Количество животных</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00009: Наименование вида животного на латыни (Наименование вида животного на латыни. Имя) -->
  <xs:element name="AnimalSpeciesLatinName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Наименование вида животного на латыни</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00010: Наименование вида животного (Вид животного. Имя) -->
  <xs:element name="AnimalSpeciesName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Основная структурная единица биологической систематики живых организмов (животных, растений и микроорганизмов); таксономическая, систематическая единица, группа особей с общими морфофизиологическими, биохимическими и поведенческими признаками, способная к взаимному скрещиванию, дающему в ряду поколений плодовитое потомство, закономерно распространённая в пределах определённого ареала и сходно изменяющаяся под влиянием факторов внешней среды</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00011: Дата рождения (Дата рождения. Дата) -->
  <xs:element name="BirthDate" type="bdt:DateType">
    <xs:annotation>
      <xs:documentation>Дата, в которую родилось то или иное живое существо</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00012: Номер сертификата (Сертификат. Идентификатор) -->
  <xs:element name="CertificateId" type="bdt:IdentifierType">
    <xs:annotation>
      <xs:documentation>Номер сертификата</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00013: Дата выдачи сертификата (Дата выдачи сертификата. Дата) -->
  <xs:element name="CertificateIssueDate" type="bdt:DateType">
    <xs:annotation>
      <xs:documentation>Дата выдачи сертификата</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00014: Категория цыпленка (Категория цыпленка. Код) -->
  <xs:element name="ChickenCategoryCode" type="smsdo:ChickenCategoryCodeType"/>
  <!-- SMD-SDT-00003: Категория цыпленка (Категория цыпленка_ Код. Тип) -->
  <xs:simpleType name="ChickenCategoryCodeType">
    <xs:annotation>
      <xs:documentation>Категория цыпленка</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bdt:CodeType">
      <xs:enumeration value="XX">
        <xs:annotation>
          <xs:documentation>Другая</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TB">
        <xs:annotation>
          <xs:documentation>Чистая линия</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PA">
        <xs:annotation>
          <xs:documentation>Родитель</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FO">
        <xs:annotation>
          <xs:documentation>Прародитель</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LA">
        <xs:annotation>
          <xs:documentation>Несушка</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BR">
        <xs:annotation>
          <xs:documentation>Бройлер</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!-- SMD-SDE-00015: Наименование товара (Товар. Имя) -->
  <xs:element name="ConsignmentName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Наименование товара</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00016: Вид организации-производителя продукции (Вид организации-производителя продукции. Код) -->
  <xs:element name="ConsignmentOriginatorKindCode" type="smsdo:ConsignmentOriginatorKindCodeType"/>
  <!-- SMD-SDT-00004: Вид организации-производителя продукции (Вид организации-производителя продукции_ Код. Тип) -->
  <xs:simpleType name="ConsignmentOriginatorKindCodeType">
    <xs:annotation>
      <xs:documentation>Вид организации-производителя продукции</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bdt:CodeType">
      <xs:enumeration value="DF">
        <xs:annotation>
          <xs:documentation>Разделочное предприятие</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SS">
        <xs:annotation>
          <xs:documentation>Центр отбора спермы</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IN">
        <xs:annotation>
          <xs:documentation>Инкубатор</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SF">
        <xs:annotation>
          <xs:documentation>Племзавод</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SH">
        <xs:annotation>
          <xs:documentation>Бойня (мясокомбинат)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF">
        <xs:annotation>
          <xs:documentation>Холодильник</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DS">
        <xs:annotation>
          <xs:documentation>Плавбаза</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!-- SMD-SDE-00017: Название заболевания (Заболевание. Имя) -->
  <xs:element name="DiseaseName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Название заболевания</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00018: Дата взятия эмбриона (Взятие эмбриона. Дата) -->
  <xs:element name="EmbryoTakingDate" type="bdt:DateType">
    <xs:annotation>
      <xs:documentation>Дата взятия эмбриона</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- : Дата и время окончания события (Окончание события. Дата и время) -->
  <xs:element name="EventEndDateTime" type="bdt:DateTimeType">
    <xs:annotation>
      <xs:documentation>Дата и время окончания события</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00019: Дата исследования (Дата исследования. Дата) -->
  <xs:element name="ExaminationDate" type="bdt:DateType">
    <xs:annotation>
      <xs:documentation>Дата проведения исследования</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- : Номер экспертизы () -->
  <xs:element name="ExaminationId" type="bdt:IdentifierType"/>
  <!-- SMD-SDE-00020: Метод исследования (Метод исследования. Имя) -->
  <xs:element name="ExaminationMethodName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Метод исследования</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- :  () -->
  <xs:element name="ExaminationResultText" type="bdt:TextType"/>
  <!-- SMD-SDE-00021: Цель экспорта (Цель экспорта. Текст) -->
  <xs:element name="ExportPurposeText" type="bdt:TextType">
    <xs:annotation>
      <xs:documentation>Цель экспорта</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00022: Идентификационный номер хозяйства (Хозяйство. Идентификатор) -->
  <xs:element name="FarmId" type="bdt:IdentifierType">
    <xs:annotation>
      <xs:documentation>Идентификационный номер хозяйства</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00024: Страна происхождения (Страна происхождения. Код) -->
  <xs:element name="OriginCountryCode" type="csde:CountryCodeType">
    <xs:annotation>
      <xs:documentation>Страна происхождения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00025: Дата происхождения (Дата происхождения. Дата) -->
  <xs:element name="OriginDate" type="bdt:DateType">
    <xs:annotation>
      <xs:documentation>Дата происхождения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00026: Вид происхождения товара (Вид происхождения товара. Код) -->
  <xs:element name="OriginKindCode" type="smsdo:OriginKindCodeType"/>
  <!-- SMD-SDT-00006: Вид происхождения товара (Вид происхождения товара_ Код. Тип) -->
  <xs:simpleType name="OriginKindCodeType">
    <xs:annotation>
      <xs:documentation>Вид происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bdt:CodeType">
      <xs:enumeration value="AC">
        <xs:annotation>
          <xs:documentation>Хозяйство аквакультуры</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NP">
        <xs:annotation>
          <xs:documentation>Природная популяция</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!-- SMD-SDE-00027: Вид упаковки (Вид упаковки. Код) -->
  <xs:element name="PackageKindCode" type="smsdo:PackageKindCodeType"/>
  <!-- SMD-SDT-00007: Вид упаковки (Вид упаковки_ Код. Тип) -->
  <xs:simpleType name="PackageKindCodeType">
    <xs:annotation>
      <xs:documentation>Вид упаковки</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bdt:CodeType"/>
  </xs:simpleType>
  <!-- SMD-SDE-00028: Число мест (контейнеров) (Место (контейнер). Количество) -->
  <xs:element name="PackageQunatity" type="bdt:QuantityType">
    <xs:annotation>
      <xs:documentation>Число мест (контейнеров)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00029: Маркировка пломбы (Маркировка пломбы. Идентификатор) -->
  <xs:element name="SealLabelId" type="bdt:IdentifierType">
    <xs:annotation>
      <xs:documentation>Маркировка пломбы</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00030: Дата взятия спермы (Взятие спермы. Дата) -->
  <xs:element name="SemenCollectionDate" type="bdt:DateType">
    <xs:annotation>
      <xs:documentation>Дата взятия спермы</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00031: Количество доз пробирок со спермой (Доза в пробирке со спермой. Количество) -->
  <xs:element name="SemenTubeDoseQuantity" type="bdt:QuantityType">
    <xs:annotation>
      <xs:documentation>Количество доз пробирок со спермой</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00032: Маркировка пробирки со спермой (Маркировка пробирки со спермой. Идентификатор) -->
  <xs:element name="SemenTubeLabelId" type="bdt:IdentifierType">
    <xs:annotation>
      <xs:documentation>Маркировка пробирки со спермой</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00023: Пол (Пол. Код) -->
  <xs:element name="SexCode" type="smsdo:SexCodeType">
    <xs:annotation>
      <xs:documentation>Совокупность морфологических и физиологических особенностей организма, совокупность генетически детерминированных признаков особи, определяющих её роль в процессе оплодотворения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDT-00005: Пол (Пол_ Код. Тип) -->
  <xs:simpleType name="SexCodeType">
    <xs:annotation>
      <xs:documentation>Пол</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bdt:CodeType">
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Мужской</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Женский</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <!-- SMD-SDE-00033: Систематическая группа (Систематическая группа. Имя) -->
  <xs:element name="TaxonomicGroupName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Наименование группы организмов, объединенной определенной степенью родства, общими чертами строения и функциональных особенностей</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00034: Страна транзита (Страна транзита. Код) -->
  <xs:element name="TransitCountryCode" type="csde:CountryCodeType">
    <xs:annotation>
      <xs:documentation>Страна транзита</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00036: Описание транспорта (Описание транспорта. Текст) -->
  <xs:element name="TransportDescriptionText" type="bdt:TextType">
    <xs:annotation>
      <xs:documentation>Номер вагона, автомашины, контейнера, рейса самолета, название и пр.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00035: Условие транспортировки (Условие транспортировки. Текст) -->
  <xs:element name="TransportationConditionText" type="bdt:TextType">
    <xs:annotation>
      <xs:documentation>Требования к температуре, влажности при перевозке груза</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00037: Дата ветеринарной обработки (Ветеринарная обработка. Дата) -->
  <xs:element name="VeterinaryTreatmentDate" type="bdt:DateType">
    <xs:annotation>
      <xs:documentation>Дата ветеринарной обработки</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00038: Метод ветеринарной обработки (Метод ветеринарной обработки. Имя) -->
  <xs:element name="VeterinaryTreatmentMethodName" type="bdt:NameType">
    <xs:annotation>
      <xs:documentation>Метод ветеринарной обработки</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- SMD-SDE-00039: Вес (Вес. Измерение) -->
  <xs:element name="WeightMeasure" type="smsdo:WeightMeasureType">
    <xs:annotation>
      <xs:documentation>Сила воздействия тела на опору (или подвес или другой вид крепления), препятствующую падению, возникающая в поле сил тяжести</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- :  () -->
  <xs:complexType name="WeightMeasureType">
    <xs:simpleContent>
      <xs:extension base="bdt:MeasureType">
        <xs:attribute name="WeightUnitCode" type="smsdo:WeightUnitCodeType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- :  () -->
  <xs:simpleType name="WeightUnitCodeType">
    <xs:restriction base="bdt:CodeType"/>
  </xs:simpleType>
</xs:schema>
