output/EEC_RDM_ComplexDataObjects_v0.7.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:ccde="urn:EEC:RDM:ComplexDataObjects:v0.7.0" xmlns:csde="urn:EEC:RDM:SimpleDataObjects:v0.7.0" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" targetNamespace="urn:EEC:RDM:ComplexDataObjects:v0.7.0" version="0.7.0" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="urn:EEC:RDM:SimpleDataObjects:v0.7.0" schemaLocation="EEC_RDM_SimpleDataObjects_v0.7.0.xsd"/>
  <!-- RDM-CDE-00001: Адрес (Адрес. Детали) -->
  <xs:element name="AddressDetails" type="ccde:AddressDetailsType"/>
  <!-- RDM-CDT-00001: Адрес (Адрес. Тип) -->
  <xs:complexType name="AddressDetailsType">
    <xs:annotation>
      <xs:documentation>Обозначение места нахождения объекта в пространстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="csde:CountryCode"/>
      <xs:element minOccurs="0" ref="csde:TerritoryCode"/>
      <xs:element minOccurs="0" ref="csde:PostCode"/>
      <xs:element minOccurs="0" ref="csde:RegionName"/>
      <xs:element minOccurs="0" ref="csde:DistrictName"/>
      <xs:element minOccurs="0" ref="csde:CityName"/>
      <xs:element minOccurs="0" ref="csde:SettlementName"/>
      <xs:element minOccurs="0" ref="csde:StreetName"/>
      <xs:element minOccurs="0" ref="csde:BuildingNumberId"/>
      <xs:element minOccurs="0" ref="csde:RoomNumberId"/>
      <xs:element minOccurs="0" ref="csde:AddressText"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDE-00021: Представитель (Представитель. Детали) -->
  <xs:element name="AgentDetails" type="ccde:AgentDetailsType"/>
  <!-- RDM-CDT-00021: Представитель (Представитель. Тип) -->
  <xs:complexType name="AgentDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность сведений о физическом лице, представляющем интересы юридического или другого физического лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ccde:PersonBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ccde:LetterOfAttorneyDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- RDM-CDE-00014: Прилагаемый документ (Прилагаемый документ. Детали) -->
  <xs:element name="AttachedDocDetails" type="ccde:DocDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность основных реквизитов документа, прилагаемого к другому документу</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- RDM-CDE-00011: Банковские реквизиты (Банковские реквизиты. Детали) -->
  <xs:element name="BankingDetails" type="ccde:BankingDetailsType"/>
  <!-- RDM-CDT-00011: Банковские реквизиты (Банковские реквизиты. Тип) -->
  <xs:complexType name="BankingDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность банковских реквизитов юридического или физического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="csde:BankId"/>
      <xs:element ref="csde:BankName"/>
      <xs:element minOccurs="0" ref="csde:BankCorrAccountId"/>
      <xs:element minOccurs="0" ref="csde:PaieeAccountId"/>
      <xs:element ref="csde:PaieeName"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDE-00003: Контактный реквизит (Контактный реквизит. Детали) -->
  <xs:element name="CommunicationDetails" type="ccde:CommunicationDetailsType"/>
  <!-- RDM-CDT-00003: Контактный реквизит (Контактный реквизит. Тип) -->
  <xs:complexType name="CommunicationDetailsType">
    <xs:annotation>
      <xs:documentation>Контактный реквизит с указанием способа и идентификатора средства (канала) связи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="csde:CommunicationChannelCode"/>
      <xs:element ref="csde:CommunicationChannelId"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDT-00014: Документ (Документ. Тип) -->
  <xs:complexType name="DocDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность реквизитов, составляющих документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="csde:DocKindCode"/>
      <xs:element ref="csde:PageQuantity"/>
      <xs:element minOccurs="0" ref="csde:DocNumberId"/>
      <xs:element minOccurs="0" ref="csde:DocCreationDate"/>
      <xs:element minOccurs="0" ref="csde:DocValidityDate"/>
      <xs:element minOccurs="0" ref="csde:DocValidityDuration"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDT-00006: Электронный документ (Электронный документ. Тип) -->
  <xs:complexType name="EDocBaseType">
    <xs:annotation>
      <xs:documentation>Совокупность основных реквизитов электронного документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="csde:LanguageCode"/>
      <xs:element ref="csde:EDocId"/>
      <xs:element minOccurs="0" ref="csde:EDocRefId"/>
      <xs:element ref="csde:EDocDateTime"/>
      <xs:element ref="csde:EDocStatusCode"/>
      <xs:element ref="csde:StatusDateTime"/>
      <xs:element minOccurs="0" ref="csde:StatusNoteText"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDE-00020: Доверенность (Доверенность. Детали) -->
  <xs:element name="LetterOfAttorneyDetails" type="ccde:DocDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность основных реквизитов документа, выдаваемого одним лицом другому для представительства перед третьим лицом</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- RDM-CDT-00005: Юридическое лицо (Юридическое лицо. Тип) -->
  <xs:complexType name="OrganizationBaseType">
    <xs:annotation>
      <xs:documentation>Совокупность основных, налоговых, адресных, банковских и контактных реквизитов юридического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ccde:OrganizationDetails"/>
      <xs:element minOccurs="0" ref="ccde:TaxpayerDetails"/>
      <xs:element minOccurs="0" ref="ccde:AddressDetails"/>
      <xs:element minOccurs="0" ref="ccde:BankingDetails"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ccde:CommunicationDetails"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDE-00015: Реквизиты юридического лица (Реквизиты юридического лица. Детали) -->
  <xs:element name="OrganizationDetails" type="ccde:OrganizationDetailsType"/>
  <!-- RDM-CDT-00015: Реквизиты юридического лица (Реквизиты юридического лица. Тип) -->
  <xs:complexType name="OrganizationDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность основных реквизитов юридического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="csde:SubjectName"/>
      <xs:element ref="csde:CountryCode"/>
      <xs:element minOccurs="0" ref="csde:BusinessEntityTypeCode"/>
      <xs:element minOccurs="0" ref="csde:OrganizationId"/>
      <xs:element minOccurs="0" ref="csde:OrganizationCode"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDE-00022: Платежные реквизиты (Платежные реквизиты. Детали) -->
  <xs:element name="PaymentDetails" type="ccde:PaymentDetailsType"/>
  <!-- RDM-CDT-00022: Платежные реквизиты (Платежные реквизиты. Тип) -->
  <xs:complexType name="PaymentDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность реквизитов для осуществления платежа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ccde:BankingDetailsType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="csde:PaymentCode"/>
          <xs:element minOccurs="0" ref="csde:PaymentBudgetCode"/>
          <xs:element minOccurs="0" ref="csde:PaymentPurposeText"/>
          <xs:element minOccurs="0" ref="csde:PaymentInfoText"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- RDM-CDT-00016: Физическое лицо (Физическое лицо. Тип) -->
  <xs:complexType name="PersonBaseType">
    <xs:annotation>
      <xs:documentation>Совокупность основных, налоговых, адресных, банковских и контактных реквизитов физического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ccde:PersonDetails"/>
      <xs:element minOccurs="0" ref="ccde:TaxpayerDetails"/>
      <xs:element minOccurs="0" ref="ccde:AddressDetails"/>
      <xs:element minOccurs="0" ref="ccde:BankingDetails"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ccde:CommunicationDetails"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDE-00017: Реквизиты физического лица (Реквизиты физического лица. Детали) -->
  <xs:element name="PersonDetails" type="ccde:PersonDetailsType"/>
  <!-- RDM-CDT-00017: Реквизиты физического лица (Реквизиты физического лица. Тип) -->
  <xs:complexType name="PersonDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность основных реквизитов физического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="csde:SubjectName"/>
      <xs:element ref="csde:CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDT-00018: Субъект (Субъект. Тип) -->
  <xs:complexType name="SubjectBaseType">
    <xs:annotation>
      <xs:documentation>Совокупность основных, налоговых, адресных, банковских и контактных реквизитов юридического или физического лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="ccde:OrganizationDetails"/>
      <xs:element minOccurs="0" ref="ccde:PersonDetails"/>
      <xs:element minOccurs="0" ref="ccde:TaxpayerDetails"/>
      <xs:element minOccurs="0" ref="ccde:AddressDetails"/>
      <xs:element minOccurs="0" ref="ccde:BankingDetails"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ccde:CommunicationDetails"/>
    </xs:sequence>
  </xs:complexType>
  <!-- RDM-CDE-00019: Налогоплательщик (Налогоплательщик. Детали) -->
  <xs:element name="TaxpayerDetails" type="ccde:TaxpayerDetailsType"/>
  <!-- RDM-CDT-00019: Реквизиты налогоплательщика (Реквизиты налогоплательщика. Тип) -->
  <xs:complexType name="TaxpayerDetailsType">
    <xs:annotation>
      <xs:documentation>Совокупность реквизитов юридического или физического лица, на которое законом возложена обязанность уплачивать налоги</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="csde:TaxpayerId"/>
      <xs:element minOccurs="0" ref="csde:TaxRegistrationReasonCode"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
