output/pain.001.001.03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" elementFormDefault="qualified">
  <xs:element name="Document" type="Document"/>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader32"/>
      <xs:element name="PmtInf" type="PaymentInstructionInformation3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="PBOX"/>
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="BIZZ"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmountType3Choice">
    <xs:choice>
      <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="EqvtAmt" type="EquivalentAmount2"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="Authorisation1Choice">
    <xs:choice>
      <xs:element name="Cd" type="Authorisation1Code"/>
      <xs:element name="Prtry" type="Max128Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="Authorisation1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ILEV"/>
      <xs:enumeration value="FDET"/>
      <xs:enumeration value="AUTH"/>
      <xs:enumeration value="FSUM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="BaseOneRate">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="BatchBookingIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
      <xs:element minOccurs="0" name="BrnchId" type="BranchData2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="Max35Text"/>
      <xs:element minOccurs="0" name="Nm" type="Max140Text"/>
      <xs:element minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
      <xs:element minOccurs="0" name="Nm" type="Max70Text"/>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
      <xs:element minOccurs="0" name="Tp" type="CashAccountType2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2">
    <xs:sequence>
      <xs:element name="Cd" type="CashAccountType4Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CashAccountType4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ODFT"/>
      <xs:enumeration value="SACC"/>
      <xs:enumeration value="CACC"/>
      <xs:enumeration value="MOMA"/>
      <xs:enumeration value="COMM"/>
      <xs:enumeration value="CISH"/>
      <xs:enumeration value="CASH"/>
      <xs:enumeration value="ONDP"/>
      <xs:enumeration value="SLRY"/>
      <xs:enumeration value="NREX"/>
      <xs:enumeration value="LOAN"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="TAXE"/>
      <xs:enumeration value="SVGS"/>
      <xs:enumeration value="TRAS"/>
      <xs:enumeration value="MGLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ChargeBearerType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SLEV"/>
      <xs:enumeration value="CRED"/>
      <xs:enumeration value="SHAR"/>
      <xs:enumeration value="DEBT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Cheque6">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChqTp" type="ChequeType2Code"/>
      <xs:element minOccurs="0" name="ChqNb" type="Max35Text"/>
      <xs:element minOccurs="0" name="InstrPrty" type="Priority2Code"/>
      <xs:element minOccurs="0" name="ChqMtrtyDt" type="ISODate"/>
      <xs:element minOccurs="0" name="FrmsCd" type="Max35Text"/>
      <xs:element maxOccurs="2" minOccurs="0" name="MemoFld" type="Max35Text"/>
      <xs:element minOccurs="0" name="RgnlClrZone" type="Max35Text"/>
      <xs:element minOccurs="0" name="PrtLctn" type="Max35Text"/>
      <xs:element minOccurs="0" name="ChqFr" type="NameAndAddress10"/>
      <xs:element minOccurs="0" name="DlvryMtd" type="ChequeDeliveryMethod1Choice"/>
      <xs:element minOccurs="0" name="DlvrTo" type="NameAndAddress10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChequeDelivery1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRFA"/>
      <xs:enumeration value="MLFA"/>
      <xs:enumeration value="RGFA"/>
      <xs:enumeration value="RGCD"/>
      <xs:enumeration value="MLDB"/>
      <xs:enumeration value="CRDB"/>
      <xs:enumeration value="RGDB"/>
      <xs:enumeration value="PUDB"/>
      <xs:enumeration value="CRCD"/>
      <xs:enumeration value="PUFA"/>
      <xs:enumeration value="PUCD"/>
      <xs:enumeration value="MLCD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChequeDeliveryMethod1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ChequeDelivery1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ChequeType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BCHQ"/>
      <xs:enumeration value="CCHQ"/>
      <xs:enumeration value="DRFT"/>
      <xs:enumeration value="ELDR"/>
      <xs:enumeration value="CCCH"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="MmbId" type="Max35Text"/>
      <xs:element minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
      <xs:element minOccurs="0" name="Nm" type="Max140Text"/>
      <xs:element minOccurs="0" name="PhneNb" type="PhoneNumber"/>
      <xs:element minOccurs="0" name="MobNb" type="PhoneNumber"/>
      <xs:element minOccurs="0" name="FaxNb" type="PhoneNumber"/>
      <xs:element minOccurs="0" name="EmailAdr" type="Max2048Text"/>
      <xs:element minOccurs="0" name="Othr" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DBIT"/>
      <xs:enumeration value="CRDT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditTransferTransactionInformation10">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChrgBr" type="ChargeBearerType1Code"/>
      <xs:element minOccurs="0" name="InstrForDbtrAgt" type="Max140Text"/>
      <xs:element name="PmtId" type="PaymentIdentification1"/>
      <xs:element minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation19"/>
      <xs:element name="Amt" type="AmountType3Choice"/>
      <xs:element minOccurs="0" name="XchgRateInf" type="ExchangeRateInformation1"/>
      <xs:element minOccurs="0" name="ChqInstr" type="Cheque6"/>
      <xs:element minOccurs="0" name="UltmtDbtr" type="PartyIdentification32"/>
      <xs:element minOccurs="0" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification4"/>
      <xs:element minOccurs="0" name="IntrmyAgt1Acct" type="CashAccount16"/>
      <xs:element minOccurs="0" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification4"/>
      <xs:element minOccurs="0" name="IntrmyAgt2Acct" type="CashAccount16"/>
      <xs:element minOccurs="0" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification4"/>
      <xs:element minOccurs="0" name="IntrmyAgt3Acct" type="CashAccount16"/>
      <xs:element minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
      <xs:element minOccurs="0" name="CdtrAgtAcct" type="CashAccount16"/>
      <xs:element minOccurs="0" name="Cdtr" type="PartyIdentification32"/>
      <xs:element minOccurs="0" name="CdtrAcct" type="CashAccount16"/>
      <xs:element minOccurs="0" name="UltmtCdtr" type="PartyIdentification32"/>
      <xs:element minOccurs="0" name="InstrForCdtrAgt" type="InstructionForCreditorAgent1"/>
      <xs:element minOccurs="0" name="Purp" type="Purpose2Choice"/>
      <xs:element maxOccurs="10" minOccurs="0" name="RgltryRptg" type="RegulatoryReporting3"/>
      <xs:element minOccurs="0" name="Tax" type="TaxInformation3"/>
      <xs:element maxOccurs="10" minOccurs="0" name="RltdRmtInf" type="RemittanceLocation2"/>
      <xs:element minOccurs="0" name="RmtInf" type="RemittanceInformation5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ref" type="Max35Text"/>
      <xs:element minOccurs="0" name="Tp" type="CreditorReferenceType2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="DocumentType3Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issr" type="Max35Text"/>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DecimalNumber">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="DocumentAdjustment1">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
      <xs:element minOccurs="0" name="Rsn" type="Max4Text"/>
      <xs:element minOccurs="0" name="AddtlInf" type="Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="SCOR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOLD"/>
      <xs:enumeration value="DNFA"/>
      <xs:enumeration value="SBIN"/>
      <xs:enumeration value="CMCN"/>
      <xs:enumeration value="CINV"/>
      <xs:enumeration value="CNFA"/>
      <xs:enumeration value="MSIN"/>
      <xs:enumeration value="TSUT"/>
      <xs:enumeration value="AROI"/>
      <xs:enumeration value="HIRI"/>
      <xs:enumeration value="CREN"/>
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="SOAC"/>
      <xs:enumeration value="VCHR"/>
      <xs:enumeration value="DEBN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EquivalentAmount2">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangeRateInformation1">
    <xs:sequence>
      <xs:element minOccurs="0" name="XchgRate" type="BaseOneRate"/>
      <xs:element minOccurs="0" name="RateTp" type="ExchangeRateType1Code"/>
      <xs:element minOccurs="0" name="CtrctId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExchangeRateType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SPOT"/>
      <xs:enumeration value="AGRD"/>
      <xs:enumeration value="SALE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ExternalPurpose1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIC" type="BICIdentifier"/>
      <xs:element minOccurs="0" name="Nm" type="Max140Text"/>
      <xs:element minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
      <xs:element minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
      <xs:element minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element minOccurs="0" name="Issr" type="Max35Text"/>
      <xs:element minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element minOccurs="0" name="Issr" type="Max35Text"/>
      <xs:element minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element minOccurs="0" name="Issr" type="Max35Text"/>
      <xs:element minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element minOccurs="0" name="Issr" type="Max35Text"/>
      <xs:element minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader32">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element maxOccurs="2" minOccurs="0" name="Authstn" type="Authorisation1Choice"/>
      <xs:element name="NbOfTxs" type="Max15NumericText"/>
      <xs:element minOccurs="0" name="CtrlSum" type="DecimalNumber"/>
      <xs:element name="InitgPty" type="PartyIdentification32"/>
      <xs:element minOccurs="0" name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="Instruction3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PHOB"/>
      <xs:enumeration value="CHQB"/>
      <xs:enumeration value="TELB"/>
      <xs:enumeration value="HOLD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InstructionForCreditorAgent1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cd" type="Instruction3Code"/>
      <xs:element minOccurs="0" name="InstrInf" type="Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="Max10Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max128Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="NameAndAddress10">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text"/>
      <xs:element name="Adr" type="PostalAddress6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MIST"/>
      <xs:enumeration value="MADM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification4">
    <xs:sequence>
      <xs:element minOccurs="0" name="BICOrBEI" type="AnyBICIdentifier"/>
      <xs:element minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
    </xs:sequence>
    <xs:assert test="fn:count( BICOrBEI ) + fn:count( Othr ) = 1"/>
    <xs:assert test="fn:count( BICOrBEI ) = 0 and fn:count( Othr ) = 1 or fn:count( BICOrBEI ) = 1 and fn:count( Othr ) = 0"/>
    <xs:assert test="(fn:not(fn:count( BICOrBEI ) = 1) or fn:count( Othr ) = 0) and (fn:not(fn:count( Othr ) = 1) or fn:count( BICOrBEI ) = 0)"/>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party6Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification4"/>
      <xs:element name="PrvtId" type="PersonIdentification5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nm" type="Max140Text"/>
      <xs:element minOccurs="0" name="CtryOfRes" type="CountryCode"/>
      <xs:element minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
      <xs:element minOccurs="0" name="Id" type="Party6Choice"/>
      <xs:element minOccurs="0" name="CtctDtls" type="ContactDetails2"/>
    </xs:sequence>
    <xs:assert test="fn:string-length( Nm ) &lt;= 70"/>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification1">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrId" type="Max35Text"/>
      <xs:element name="EndToEndId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstructionInformation3">
    <xs:sequence>
      <xs:element name="PmtInfId" type="Max35Text"/>
      <xs:element name="PmtMtd" type="PaymentMethod3Code"/>
      <xs:element minOccurs="0" name="BtchBookg" type="BatchBookingIndicator"/>
      <xs:element minOccurs="0" name="NbOfTxs" type="Max15NumericText"/>
      <xs:element minOccurs="0" name="CtrlSum" type="DecimalNumber"/>
      <xs:element name="ReqdExctnDt" type="ISODate"/>
      <xs:element minOccurs="0" name="PoolgAdjstmntDt" type="ISODate"/>
      <xs:element minOccurs="0" name="ChrgBr" type="ChargeBearerType1Code"/>
      <xs:element minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation19"/>
      <xs:element name="Dbtr" type="PartyIdentification32"/>
      <xs:element name="DbtrAcct" type="CashAccount16"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
      <xs:element minOccurs="0" name="DbtrAgtAcct" type="CashAccount16"/>
      <xs:element minOccurs="0" name="UltmtDbtr" type="PartyIdentification32"/>
      <xs:element minOccurs="0" name="ChrgsAcct" type="CashAccount16"/>
      <xs:element minOccurs="0" name="ChrgsAcctAgt" type="BranchAndFinancialInstitutionIdentification4"/>
      <xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentMethod3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="TRF"/>
      <xs:enumeration value="TRA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentTypeInformation19">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrPrty" type="Priority2Code"/>
      <xs:element minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice"/>
      <xs:element minOccurs="0" name="LclInstrm" type="LocalInstrument2Choice"/>
      <xs:element minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PercentageRate">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
      <xs:element minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdrTp" type="AddressType2Code"/>
      <xs:element minOccurs="0" name="Dept" type="Max70Text"/>
      <xs:element minOccurs="0" name="SubDept" type="Max70Text"/>
      <xs:element minOccurs="0" name="StrtNm" type="Max70Text"/>
      <xs:element minOccurs="0" name="BldgNb" type="Max16Text"/>
      <xs:element minOccurs="0" name="PstCd" type="Max16Text"/>
      <xs:element minOccurs="0" name="TwnNm" type="Max35Text"/>
      <xs:element minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
      <xs:element minOccurs="0" name="Ctry" type="CountryCode"/>
      <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Priority2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="NORM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Purpose2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPurpose1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nb" type="Max35Text"/>
      <xs:element minOccurs="0" name="RltdDt" type="ISODate"/>
      <xs:element minOccurs="0" name="Tp" type="ReferredDocumentType2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="DocumentType5Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issr" type="Max35Text"/>
      <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulatoryAuthority2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nm" type="Max140Text"/>
      <xs:element minOccurs="0" name="Ctry" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulatoryReporting3">
    <xs:sequence>
      <xs:element minOccurs="0" name="DbtCdtRptgInd" type="RegulatoryReportingType1Code"/>
      <xs:element minOccurs="0" name="Authrty" type="RegulatoryAuthority2"/>
      <xs:element minOccurs="0" name="Dtls" type="StructuredRegulatoryReporting3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RegulatoryReportingType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOTH"/>
      <xs:enumeration value="CRED"/>
      <xs:enumeration value="DEBT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RemittanceAmount1">
    <xs:sequence>
      <xs:element minOccurs="0" name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="AdjstmntAmtAndRsn" type="DocumentAdjustment1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation5">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ustrd" type="Max140Text"/>
      <xs:element minOccurs="0" name="Strd" type="StructuredRemittanceInformation7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocation2">
    <xs:sequence>
      <xs:element minOccurs="0" name="RmtId" type="Max35Text"/>
      <xs:element minOccurs="0" name="RmtLctnMtd" type="RemittanceLocationMethod2Code"/>
      <xs:element minOccurs="0" name="RmtLctnElctrncAdr" type="Max2048Text"/>
      <xs:element minOccurs="0" name="RmtLctnPstlAdr" type="NameAndAddress10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RemittanceLocationMethod2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EDIC"/>
      <xs:enumeration value="POST"/>
      <xs:enumeration value="URID"/>
      <xs:enumeration value="SMSM"/>
      <xs:enumeration value="FAXI"/>
      <xs:enumeration value="EMAL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="StructuredRegulatoryReporting3">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tp" type="Max35Text"/>
      <xs:element minOccurs="0" name="Dt" type="ISODate"/>
      <xs:element minOccurs="0" name="Ctry" type="CountryCode"/>
      <xs:element minOccurs="0" name="Cd" type="Max10Text"/>
      <xs:element minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="Inf" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation7">
    <xs:sequence>
      <xs:element maxOccurs="3" minOccurs="0" name="AddtlRmtInf" type="Max140Text"/>
      <xs:element minOccurs="0" name="RfrdDocInf" type="ReferredDocumentInformation3"/>
      <xs:element minOccurs="0" name="RfrdDocAmt" type="RemittanceAmount1"/>
      <xs:element minOccurs="0" name="CdtrRefInf" type="CreditorReferenceInformation2"/>
      <xs:element minOccurs="0" name="Invcr" type="PartyIdentification32"/>
      <xs:element minOccurs="0" name="Invcee" type="PartyIdentification32"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmount1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rate" type="PercentageRate"/>
      <xs:element minOccurs="0" name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="Dtls" type="TaxRecordDetails1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAuthorisation1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Titl" type="Max35Text"/>
      <xs:element minOccurs="0" name="Nm" type="Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxInformation3">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmstnZn" type="Max35Text"/>
      <xs:element minOccurs="0" name="RefNb" type="Max140Text"/>
      <xs:element minOccurs="0" name="Mtd" type="Max35Text"/>
      <xs:element minOccurs="0" name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="Dt" type="ISODate"/>
      <xs:element minOccurs="0" name="SeqNb" type="Number"/>
      <xs:element minOccurs="0" name="Cdtr" type="TaxParty1"/>
      <xs:element minOccurs="0" name="Dbtr" type="TaxParty2"/>
      <xs:element minOccurs="0" name="Rcrd" type="TaxRecord1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxParty1">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaxId" type="Max35Text"/>
      <xs:element minOccurs="0" name="RegnId" type="Max35Text"/>
      <xs:element minOccurs="0" name="TaxTp" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxParty2">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaxId" type="Max35Text"/>
      <xs:element minOccurs="0" name="RegnId" type="Max35Text"/>
      <xs:element minOccurs="0" name="TaxTp" type="Max35Text"/>
      <xs:element minOccurs="0" name="Authstn" type="TaxAuthorisation1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxPeriod1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Yr" type="ISODate"/>
      <xs:element minOccurs="0" name="Tp" type="TaxRecordPeriod1Code"/>
      <xs:element minOccurs="0" name="FrToDt" type="DatePeriodDetails"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecord1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tp" type="Max35Text"/>
      <xs:element minOccurs="0" name="Ctgy" type="Max35Text"/>
      <xs:element minOccurs="0" name="CtgyDtls" type="Max35Text"/>
      <xs:element minOccurs="0" name="DbtrSts" type="Max35Text"/>
      <xs:element minOccurs="0" name="CertId" type="Max35Text"/>
      <xs:element minOccurs="0" name="FrmsCd" type="Max35Text"/>
      <xs:element minOccurs="0" name="AddtlInf" type="Max140Text"/>
      <xs:element minOccurs="0" name="Prd" type="TaxPeriod1"/>
      <xs:element minOccurs="0" name="TaxAmt" type="TaxAmount1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecordDetails1">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element minOccurs="0" name="Prd" type="TaxPeriod1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TaxRecordPeriod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MM05"/>
      <xs:enumeration value="MM08"/>
      <xs:enumeration value="MM10"/>
      <xs:enumeration value="MM06"/>
      <xs:enumeration value="QTR3"/>
      <xs:enumeration value="MM02"/>
      <xs:enumeration value="MM12"/>
      <xs:enumeration value="HLF2"/>
      <xs:enumeration value="MM11"/>
      <xs:enumeration value="QTR4"/>
      <xs:enumeration value="MM04"/>
      <xs:enumeration value="QTR1"/>
      <xs:enumeration value="HLF1"/>
      <xs:enumeration value="MM09"/>
      <xs:enumeration value="QTR2"/>
      <xs:enumeration value="MM03"/>
      <xs:enumeration value="MM07"/>
      <xs:enumeration value="MM01"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
